<template name="settings">


    <div id="settings-content">
        <div class="setting">
            <h5 class="row col">Localization</h5>

            <div class="row">
                <div class="input-field col s12 m6 l3">
                    <select id="language-select">
			    {{#each allLanguages}}
                                <option {{isLanguageSelected id}} value="{{id}}">{{name}}</option>
			    {{/each}}
                    </select>
                    <label>Language</label>
                </div>
            </div>
        </div>
        <div class="setting embeddable-script">
            <h5 class="row col">Embeddable script</h5>

            <div class="row">
                <div class="col s6 m5 l4 relative">
                    <div class="horizontal radio-group">
                        <input name="horizontal" type="radio" id="left"/>
                        <label for="left">Left</label>
                        <input name="horizontal" type="radio" id="right" checked/>
                        <label for="right" style="margin-left: 13px;">Right</label>
                    </div>
                    <div class="vertical radio-group">
                        <input name="vertical" type="radio" id="top"/>
                        <label for="top">Top</label>
                        <input name="vertical" type="radio" id="bottom" checked/>
                        <label for="bottom" style="margin-top: 50px;">Bottom</label>
                    </div>
                </div>

                <div class="col s6 m5 l4 relative">
                    <div class="sizes">
                        <div>Width <i>{{widgetWidth}}px</i></div>
                        <p class="range-field embedded-width">
                            <input type="range" value="300" min="250" max="1000"/>
                        </p>

                        <div>Height <i>{{widgetHeight}}px</i></div>
                        <p class="range-field embedded-height">
                            <input type="range" value="400" min="250" max="1000"/>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s7 m6 l5 relative">
                    <textarea readonly onClick="this.select();" class="script-content"> {{scriptContent}}</textarea>
                </div>
            </div>
        </div>
        <div class="setting notifications">
            <div class="row">
                <h5 class="col s4">Growl Notifications</h5>

                <div class="col s8 warnings">
			{{#if allowingNotifications}}
				{{> loading_small fader=true}}
			{{else}}
				{{#if isNotificationsDisabled}}
					{{> settings_alert colorClass="error-color" text="Your browser blocks all notifications on this site"}}
				{{/if}}
				{{#if isNotificationsUnknown}}
                                    <div class="settings-alert">
                                        <span class="warning-color"><i class="mdi-alert-warning warning-color"></i>Please, turn notifications on by pushing the <button
                                                type="button"
                                                class="waves-effect waves-light btn allow-notifications-button">Allow
                                        </button> button</span>
                                    </div>
				{{/if}}
			{{/if}}
                </div>
            </div>
            <div class="row">
                <h6>Chat</h6>

                <div class="col s12 m6 l4 a-chat-notifications">
			{{#each notificationControls}}
                            <p>
                                <input type="checkbox" id="{{id}}" {{isNotificationChecked id}}/>
                                <label for="{{id}}">{{title}}</label>
                            </p>
			{{/each}}
                </div>
            </div>
        </div>
    </div>

</template>