.general-user-item {
	padding: 5px 10px;
	position: relative;
	cursor: pointer;
    border-bottom: 1px solid #eee;
}

.general-user-item .presence-indicator {
    float: left;
}

.general-user-item .presence-indicator core-icon {
    width: 14px;
}
.general-user-item .presence-indicator .online{
	color: rgb(87, 150, 28);
	width: 15px;
}
.general-user-item .user-avatar img{
	width:40px;
	height: 40px;
}
.general-user-item .username{
	float: left;
    margin: 3px;
    width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.general-user-item .user-to-dialog-btn {
    position: absolute;
    top: 1px;
    right: 0px;
    padding: 5px;
    color: #ccc;
}

.general-user-item .add-to-dialog:hover {
    color: green;;
}

.general-user-item .remove-from-dialog:hover {
    color: #A93D34;
}