.general-user-item {
	padding: 5px;
	position: relative;
	cursor: pointer;
    border-bottom: 1px solid #eee;
}

.general-user-item .presence-indicator {
    float: left;
}

.general-user-item .presence-indicator core-icon {
    width: 14px;
}
.general-user-item .presence-indicator .online{
	color: rgb(87, 150, 28);
	width: 15px;
}
.general-user-item .user-avatar img{
	width:40px;
	height: 40px;
}
.general-user-item .username{
	float: left;
    margin: 3px;
    width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}