.general-user-item {
	padding: 5px;
	position: relative;
	cursor: pointer;
}
.general-user-item .user-avatar{
	width:40px;
	height: 40px;
	overflow: hidden;
	float: left;
	margin-right: 5px;
}
.general-user-item .presence-indicator{
	position: absolute;
	bottom: -4px;
	left: 34px;
}
.general-user-item .presence-indicator .online{
	color: rgb(87, 150, 28);
	width: 15px;
}
.general-user-item .user-avatar img{
	width:40px;
	height: 40px;
}
.general-user-item .username{
	margin-top: 8px;
	float: left;
	width: 110px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}