<template name="globalLayout">
    <div id="application" fit>
        <div id="style-block"></div>
	    {{#unless connected}}
                <div class="notifications">
                    <div class="notification">
                        <span class="icon-sync"></span>

                        <div class="meta">
                            <div class="title-notification">Trying to connect</div>
                            <div class="description">There seems to be a connection issue</div>
                        </div>
                    </div>
                </div>
	    {{/unless}}


	    {{> UI.contentBlock}}



        <paper-action-dialog global-dialog layered backdrop
                             transition="paper-dialog-transition-bottom"
                class={{#if isDialogFullscreen}}fullscreen{{/if}}>

            <paper-progress style="display: {{progressCSSDisplay}}" indeterminate=""></paper-progress>

            <div class="modal-content" style="display: {{contentCSSDisplay}}"></div>

        </paper-action-dialog>

        <!-- Basic modal -->
        <div id="main-modal" class="modal">
            <div class="modal-content">
                <h4 class="modal-header"></h4>

                <div class="modal-body"></div>
            </div>
            <div class="modal-footer">
                <button id="main-dialog-cancel" type="button" href="#!"
                        class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel
                </button>
                <button id="main-dialog-ok" type="button" href="#!"
                        class=" modal-action modal-close waves-effect waves-green btn-flat">OK
                </button>
            </div>
        </div>
        <!-- Settings modal -->
        <div id="settings-modal" class="modal bottom-sheet" style="max-height: 100%;">
            <div class="modal-content" id="settings">
                <h4 class="modal-header">Settings
                    <paper-icon-button title="Close settings" id="close-settings-btn" icon="close"
                                       onclick="GlobalUI.closeSettings()"></paper-icon-button>
                </h4>

		    {{#if showSettings}}
			    {{>settings}}
		    {{/if}}

            </div>
        </div>

    </div>
</template>
