<template name="globalLayout">
    <div id="application" fit>
        <div id="style-block"></div>
	    {{#unless connected}}
                <div class="notifications">
                    <div class="notification">
                        <span class="icon-sync"></span>

                        <div class="meta">
                            <div class="title-notification">Trying to connect</div>
                            <div class="description">There seems to be a connection issue</div>
                        </div>
                    </div>
                </div>
	    {{/unless}}


	    {{> UI.contentBlock}}



        <paper-action-dialog global-dialog layered backdrop
                             transition="paper-dialog-transition-bottom"
                class={{#if isDialogFullscreen}}fullscreen{{/if}}>

            <paper-progress style="display: {{progressCSSDisplay}}" indeterminate=""></paper-progress>

            <div class="modal-content" style="display: {{contentCSSDisplay}}"></div>

        </paper-action-dialog>

        <paper-toast global-toast>
		{{#if isErrorToast}}
                    <core-icon class="error" icon="error"></core-icon>
		{{/if}}

        </paper-toast>
	    {{#if showSettings}}
		    {{>settings}}
	    {{/if}}
    </div>
</template>
