<template name="loading">
    <div fit class="valign-wrapper" style="{{css}}">
        <div class="valign halign preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="loading_small">
    <div fit class="valign-wrapper" style='{{#if fader}}background-color: rgba(255, 255, 255, 0.6);{{/if}}'>
        <div class="valign halign preloader-wrapper active" style='{{#if fit}}width: 100%; height: 100%;{{/if}}'>
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</template>
