.chat-content .text-area{
	background: #eee;
	border-top: 1px solid white;
}

.chat .dialog-menu {
    color: #666;
    border-bottom: 1px solid #eee;
}

.chat[narrow] .dialog-menu .all-users-button {
    display: block;
}

.chat .dialog-menu .all-users-button {
    display: none;
    margin-right: 10px;
}
.chat-content .dialog-menu .name{
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: 500;
}
.chat .welcome-btn{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #dfdfdf;
    margin: auto 0;
    text-transform: initial;
}
.chat[narrow] .welcome-btn{
    color: #ccc;
}
.chat .fader {
    text-align: center;
}
.chat .fader paper-spinner{
    position: absolute;
    top: 40%;
}
.chat-content .messages-container{
	background: white;
	overflow-y: scroll;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}.chat-content .messages-container .show-more{
     text-align: center;
     text-transform: uppercase;
     font-size: 0.8em;
     padding: 5px;
     color: #818181;
     cursor: pointer;
     background: rgb(238, 238, 238);
}
.chat-content .text-area textarea{
	width:100%;
	padding: 10px
}
