.general-user-item {
	padding: 5px 10px;
	position: relative;
	cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.general-user-item .presence-indicator {
    float: left;
    margin-top: 3px;
}

.general-user-item .presence-indicator core-icon {
    width: 14px;
}
.general-user-item .presence-indicator .online{
	color: rgb(87, 150, 28);
	width: 15px;
}

.general-user-item .username{
	float: left;
    margin: 3px;
    width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.general-user-item .loader{
	width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.general-user-item .user-to-dialog-btn {
    position: absolute;
    top: 1px;
    right: 0px;
    padding: 5px;
    display: none;
}
.general-user-item .user-to-dialog-btn i{
    color: #ccc !important;
}
