.chat-left-menu h3 {
	margin: 20px 0 0;
	font-weight: 100;
}

.chat-left-menu .filter-dialogs {
    width: 100%;
    padding-top: 0;
}

.filter-dialogs core-icon {
    width: 20px;
    margin: 0 3px 0 0;
}

.filter-dialogs input {
    width: 120px;
}
.chat-left-menu .notexists {
	font-size: .8em;
	color: #aaa;
}
.chat-left-menu .control-button {
	margin: 10px 0;
}
.chat-left-menu .control-button paper-button{
	line-height: 0.5;
	float: right;
	font-weight: 100;
}

.dialog-item{
    position: relative;
	margin: 5px 0 5px -12px;
	padding: 2px 10px 2px 12px;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}
.dialog-item.selected{
    background: #2C3645;
	color: white;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.dialog-item core-icon{
    width: 13px;
    height: 13px;
}

.dialog-item .name{
    float: left;
	width: 160px;
	font-weight: bold;
}

.dialog-item.channel .name:before {
    content: "#"
}

.dialog-item.channel .name {
    font-weight: 400;
}
.dialog-item .unread{
    float: right;
	color:rgb(255, 174, 0);
	font-weight: bold;
}

.dialog-item .presence-icon{
    margin: 2px 2px 0 0;
	float:left;
}

.dialog-item .last-message{
    color: #aaa;
	clear:both;
	width: 220px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: .8em;
}