.chat-message{
	background-color: #BED6E0; 
	padding: 10px;
	min-height: 100%;
	display: table;
	align-self: flex-start;
	max-width: 90%;
	word-wrap: break-word;
	word-break: break-all;
	margin: 10px 20px 10px 5px;
}
.chat-message.own{
	margin: 10px 5px 10px 20px;
	background-color: #BEDBE0;
	align-self: flex-end;
}