<template name="chat">
    <section id="section2" layout vertical>
        <paper-tabs noink nobar selected="1" selectedindex="1" id="paper_tabs1" horizontal center layout>
          <paper-tab id="paper_tab2" inline flex center-center horizontal layout>Latest</paper-tab>
          <paper-tab id="paper_tab3" inline flex center-center horizontal layout active>Channels</paper-tab>
        </paper-tabs>
        <section id="section3" flex relative>
            
        </section>
    </section>
</template>