#app-left-menu {
	.left-menu{
		line-height: 44px;
		a{
		    display: block;
    		padding: 0 15px;
 		    font-size: 14px;
 			  font-weight: 400;
			  line-height: 42px;
  			height: 42px !important; 
  			cursor: pointer;
  			border-bottom:1px solid #2B2B2B;
			}    		
		}
	}

#app-left-menu {
	.left-menu{
		line-height: 44px;
		a:hover{
		    background:#000 !important;
		    color:#fff;
			}    		
		}
	}

.side-nav li:hover, .side-nav li.active{
	 background-color: transparent !important;
}
#app-left-menu {
	 .left-menu{
	 		ul {
	 			 a{
	 			 	padding-left:30px !important
	 			 }
	 		}
	 	}
	 }

#app-left-menu {
	 .left-menu
	 			{
	 		ul {
	 			 ul{
	 			 		a{
 			 				padding-left:30px !important
	 			 			}
	 			 		}
	 				}
				}	
	 }

#app-left-menu {
	.mdi-content-add:after {
    content: "\e6fb" !important;
    position:absolute;
    right:30px;
	}
	.mdi-content-remove:after {
    content: "\e711" !important;
    position:absolute;
    right:30px;    
	}
	.mdi-content-add:before {
    display:none !important;
	}
	.mdi-content-remove:before {
    display:none !important;
	}

}
.shopfloor_groups{

}