<template name="login">
	{{#globalLayout}}
            <div id="login-wrapper" class="valign-wrapper" fit>
                 <div class="row valign">
                    <form id="login-form" class="col s10 offset-s1 m8 offset-m2 row">
                        <div class="input-field col s12">
                            <input id="username" required type="text" class="validate">
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" required type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                        <button type="submit" class="waves-effect waves-light btn right">Login</button>
                    </form>
                 </div>
            </div>
	{{/globalLayout}}
</template>