.all-user-list {
	padding: 10px;
	overflow-y: scroll;
}

.chat-content .text-area{
	
}
.chat-content .messages-container{
	background: white;
}
.chat-content .text-area textarea{
	width:100%;
	padding: 10px
}