.all-user-list {
	padding: 10px;
	overflow-y: scroll;
}

.chat-content .text-area{
	background: #eee;
	border-top: 1px solid white;
}
.chat-content .dialog-menu{
	padding: 10px;
}
.chat-content .dialog-menu .name{
	font-size: 1.2em;
}
.chat-content .messages-container{
	background: white;
	overflow-y: auto;
	display: flex;
	flex-direction: column-reverse;
}
.chat-content .text-area textarea{
	width:100%;
	padding: 10px
}