.all-user-list {
    padding: 0px;
    box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
    position: relative;
}
.all-user-list .room-users{
    font-weight: bold;
}

.all-user-list .filter-users {
    padding-top: 0px;
    margin: 10px;
}

.all-user-list .filter-users core-icon {
    width: 20px;
    margin: 0;
    color: #aaa;
}

.all-user-list .filter-users input {
    width: 140px;
}

.all-user-list .scrollable-list {
    position: absolute;
    top: 50px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow-y: auto;
}